@using Blog.Models
@model  Glosas

@{
    ViewBag.Title = "Blog";
    ViewBag.Opcion = "Administración";
    ViewBag.SubOpcion = "Glosas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm())
{
    <style type="text/css">
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <div class="col-md-12">
        @Html.HiddenFor(a => a.IdGlosa)
        <div class="box box-primary" style="height: 100%">
            <div class="panel panel-default" style="margin: 1% 1% 1% 1%">
                <div class="panel-heading">Actualizar Glosas</div>
                <div class="panel-body">
                    <div class="row">
                        <!-- BEGIN PAGE CONTENT-->

                        <div class="row">
                            <div class="col-md-2 col-lg-offset-1 ">
                                Glosa Servicio Técnico:
                            </div>
                            <div class="col-md-4 col-lg-offset-1 ">
                                @Html.TextAreaFor(a => a.__GlosaST, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-2 col-lg-offset-1 ">
                                Glosa PQR:
                            </div>
                            <div class="col-md-4 col-lg-offset-1 ">
                                @Html.TextAreaFor(a => a.GlosaPQR, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-2 col-lg-offset-1 ">
                                Glosa Normalizaciones:
                            </div>
                            <div class="col-md-4 col-lg-offset-1 ">
                                @Html.TextAreaFor(a => a.GlosaNormalizacion, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                        <br />

                    </div>
                    <div class="col-md-3 col-sm-2 col-lg-offset-1 ">
                        <a href="@Url.Action("Index", "Glosas")" class="btn btn-default">
                            <span class="glyphicon glyphicon-backward"></span>
                            Volver
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-2 col-lg-offset-5 ">
                        <button type="submit" class="btn btn-default" id="btnSave">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        @if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        @Html.Raw((string.Format("ShowMessageError('{0}');", ViewBag.Error )))
    }

        @if (!String.IsNullOrEmpty(ViewBag.Success))
    {
        @Html.Raw((string.Format("ShowMessageSuccess('{0}');", ViewBag.Success)))
    }

        //$("#btnSave").click(function (event) {

        //    var strMensaje = "";

        //    if ($("#NombreGlosa").val() == null || $("#NombreGlosa").val().trim() == "") {
        //        strMensaje = strMensaje + "Ingrese nombre de Glosa </br>";
        //    }
        //    if (strMensaje != "") {
        //        ShowMessageWarning(strMensaje);
        //        event.preventDefault(event);
        //    }
        //});
    });


</script>
