@using Blog.Models
@model  Post

@{
    ViewBag.Title = "Blog";
    ViewBag.Opcion = "Manage";
    ViewBag.SubOpcion = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm())
{
    <style type="text/css">
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <div class="col-md-12">
        @Html.HiddenFor(a=>a.IdPost)
        <div class="box box-primary" style="height: 100%">
            <div class="panel panel-default" style="margin: 1% 1% 1% 1%">
                <div class="panel-heading">Update Post</div>
                <div class="panel-body">
                    <div class="row">
                        <!-- BEGIN PAGE CONTENT-->

                        <div class="row">
                            <div class="col-md-2 col-lg-offset-1 ">
                                Title:
                            </div>
                            <div class="col-md-4 col-lg-offset-1 ">
                                @Html.TextBoxFor(a => a.strTitle, new { @class = "form-control", maxlength = 49 })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 col-lg-offset-1 ">
                                Text:
                            </div>
                            <div class="col-md-4 col-lg-offset-1 ">
                                @Html.TextBoxFor(a => a.strText, new { @class = "form-control", maxlength = 1000 })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 col-lg-offset-1 ">
                                Author:
                            </div>
                            <div class="col-md-4 col-lg-offset-1 ">
                                @Html.TextBoxFor(a => a.strAuthor, new { @class = "form-control", maxlength = 49 })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @if (Session[Blog.Helpers.Constant.USUARIO] != null && Session[Blog.Helpers.Constant.PERFIL] != null
                                            && Session[Blog.Helpers.Constant.PERFIL].ToString() != "2")
                            {
                                <div class="col-md-4 col-lg-offset-1 ">
                                    Send to Publish: @Html.CheckBoxFor(a => a.blnStatusToPublish)
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 col-lg-offset-1 ">
                                    Approve?: @Html.CheckBoxFor(a => a.blnStatusToPublish)
                                </div>
                            }
                        </div>
                        <br />

                    </div>
                    <div class="col-md-3 col-sm-2 col-lg-offset-1 ">
                        <a href="@Url.Action("Index", "Posts")" class="btn btn-default">
                            <span class="glyphicon glyphicon-backward"></span>
                            Back
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-2 col-lg-offset-5 ">
                        <button type="submit" class="btn btn-default" id="btnSave">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        @if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        @Html.Raw((string.Format("ShowMessageError('{0}');", ViewBag.Error )))
    }

        @if (!String.IsNullOrEmpty(ViewBag.Success))
    {
        @Html.Raw((string.Format("ShowMessageSuccess('{0}');", ViewBag.Success)))
    }

        $("#btnSave").click(function (event) {

            var strMensaje = "";

            if ($("#strTitle").val() == null || $("#strTitle").val().trim() == "") {
                strMensaje = strMensaje + "Fill the title </br>";
            }

            if ($("#strText").val() == null || $("#strText").val().trim() == "") {
                strMensaje = strMensaje + "Fill the text </br>";
            }

            if ($("#strAuthor").val() == null || $("#strAuthor").val().trim() == "") {
                strMensaje = strMensaje + "Fill the author </br>";
            }
            if (strMensaje != "") {
                ShowMessageWarning(strMensaje);
                event.preventDefault(event);
            }
        });
    });


</script>
