@{
    ViewBag.Title = "Blog";
    ViewBag.Opcion = "Administración";
    ViewBag.SubOpcion = "Fallas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="POST">

    <div class="col-md-12">
        <div class="box box-primary" style="height: 100%">
            <br />
            @if (((List<Blog.Entity.PERFIL>)Session[Blog.Helpers.Constant.PERFILES]).FirstOrDefault(p => p.ID_FUNCION == (Convert.ToInt32(Blog.Helpers.Functions.Falla_Crear))) != null)
            {
                <div class="portlet-title">
                    <a href="@Url.Action("Insert", "Fallas")" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nuevo...
                    </a>
                </div>
            }
            <br />
            <div id="grid"></div>
        </div>
    </div>

</form>

<script>
    var dsUsuario = new kendo.data.DataSource({
        pageSize:10,
        transport: {
            read: {
                url: "@Url.Action("LoadGrid", "Fallas")",
            type: "POST"
        }
    },
        schema: {
            model: {
                id: "IdFalla",
                fields: {
                    IdFalla:{editable:false}
        }
    }
    }
    });
    var gridUsuario = $("#grid").kendoGrid({
        toolbar: ["excel"],
        excel: {
            allPages: true
        },
        excelExport: function (e) {
            e.workbook.fileName = "Fallas.xlsx";
        },
        columns: [
            { field: "IdFalla", title: "Código", hidden:true },
            { field: "NombreFalla", title: "Nombre" }
            @if (((List<Blog.Entity.PERFIL>)Session[Blog.Helpers.Constant.PERFILES]).FirstOrDefault(p => p.ID_FUNCION == (Convert.ToInt32(Blog.Helpers.Functions.Falla_Editar))) != null)
            {
                @MvcHtmlString.Create(@" ,{ template: ""<a class='btn btn-success' href='" + (Url.Action("Update", "Fallas")) + "?id=#= IdFalla #'><span class='fa fa-edit'></span> Editar</a>" + @"""}");
            }
            @if (((List<Blog.Entity.PERFIL>)Session[Blog.Helpers.Constant.PERFILES]).FirstOrDefault(p => p.ID_FUNCION == (Convert.ToInt32(Blog.Helpers.Functions.Falla_Eliminar))) != null)
            {
                @MvcHtmlString.Create(@" ,{ template: ""<input type='hidden' id='id' value='#= IdFalla #' /> <button type='button' class='btn btn-danger' id='btnDelete'><span class='glyphicon glyphicon-trash'></span> Eliminar</button>""}");
            }
    ],
    sortable:true,
    scrollable: true,
    pageable: {
        pageSizes: false,
        messages: {
            itemsPerPage: "Registros por página",
            display: "Mostrando {0}-{1} de {2} registros"
        }
    },
    culture: "es-CO",
        dataSource: dsUsuario
    }).data("kendoGrid");
</script>


<script>
    $(document).ready(function () {
        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            @Html.Raw((string.Format("ShowMessageError('{0}');", ViewBag.Error )))
        }

        @if (!String.IsNullOrEmpty(ViewBag.Success))
        {
            @Html.Raw((string.Format("ShowMessageSuccess('{0}');", ViewBag.Success)))
        }

        $(document).delegate("#btnDelete", "click", function () {

            var id = $(this).parent().find('#id').val();

            var div = $("<div>¿Está seguro de eliminar la Falla seleccionada?</div>");
            div.dialog({
                title: "CONFIRMACIÓN",
                modal: true,
                buttons: [
                    {
                        text: "SI",
                        click: function () {
                            $.ajax({
                                url: '../Fallas/Delete',
                                data: { id: id },
                                error: function (req, status, error) {
                                    ShowMessageError(req.responseText);
                                },
                                success: function (response) {
                                    if (response != null) {
                                        if (response.Type == 'Error') {
                                            ShowMessageSuccess(response.Message);
                                        } else {
                                            ShowMessageSuccess(response.Message);
                                            location.reload();

                                        }
                                    }
                                }
                            });
                            $(this).dialog('close');
                        }
                    },
                    {
                        text: "NO",
                        click: function () {
                            $(this).dialog('close');
                        }
                    }
                ]
            });
        });
    });
</script>
